<form action="/todos/{{todo.id}}?_method=PUT" method="POST" style="display: inline;">
  <div class="input-group justify-content-center">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="checkbox" name="isDone" {{#if todo.isDone}}checked{{/if}}>
      </div>
      <input class="form-control" style="width:40rem" type="text" placeholder="name" name="name" value="{{todo.name}}">
    </div>
    <div class="input-group-append">
      <button class="btn btn-success text-light">Save</button>
    </div>
  </div>
</form>