<form action="/todos" method="POST" style="display: inline;">
  <div class="input-group justify-content-center">
    <input class="form-control" style="width:40rem" type="text" placeholder="name" name="name">
    <div class="input-group-append">
      <button class="btn btn-success text-light">Create</button>
    </div>
  </div>
</form>